@model CelsE.Web.Data.Entity.AlumnoEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>DNI o ID-Séneca</b>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoAlumno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoAlumno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAlumno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAlumno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombrePadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombrePadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoPadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoPadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailPadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailPadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreMadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreMadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoMadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoMadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailMadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailMadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Editar</a>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-info">Regresar a la lista</a>
    </div>

</div>
